.add-more {
  position: relative;
  margin-top: 25px;

  @include media-tablet {
    margin-top: 70px;
  }

  @include media-desktop {
    margin-bottom: 86px;
    margin-top: 77px;
  }
}

.add-more__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  @include media-desktop {
    @include media-desktop {
      display: grid;
      grid-template-columns: 1fr 245px;
      grid-column-gap: 79px;
    }
  }
}

.add-more__heading {
  @include secondary-subtitles-fs24-lh24;
  position: relative;
  margin: 0 0 36px;

  @include media-tablet {
    @include title-fs36-lh36;
    padding-left: 35px;
    margin-bottom: 80px;
  }

  @include media-desktop {
    margin-bottom: 79px;
    padding-left: 0;
  }
}

.add-more__heading::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 2px;
  top: 15px;
  left: 90%;
  background-color: $green-bg-color;
  transform: translateY(-50%);

  @include media-tablet {
    top: 25px;
    left: 60%;
  }

  @include media-desktop {
    left: 30%;
    top: 25px;
  }
}

.add-more__heading::before {
  @include media-tablet {
    position: absolute;
    content: "";
    width: 100vw;
    height: 3px;
    right: 100%;
    top: 25px;
    background-color: $green-bg-color;
    transform: translateY(-50%);
  }

  @include media-desktop {
    right: 103%;
    top: 25px;
  }
}

.add-more__goods {
  width: 100%;
}

.add-more__list {
  width: 100%;
}

.add-more__item {
  padding: 13px 0 18px;
  border-bottom: 1px solid $border-color;

  @include media-tablet {
    padding: 26px 38px;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }

  @include media-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
    border-left: none;
    border-right: none;
  }
}

.add-more__item:first-child {
  border-top: 1px solid $border-color;
}

.add-more__title {
  @include small-titles-fs16;
  color: $dark-grey-text;
  text-transform: uppercase;
  margin-bottom: 13px;

  @include media-tablet {
    margin-bottom: 24px;
    font-size: $catalog-subtitle-tablet-fs;
    line-height: $catalog-subtitle-tablet-lh;
  }

  @include media-desktop {
    margin-bottom: 0;
  }
}

.add-more__card {
  @include media-tablet {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  @include media-desktop {
    width: calc(100% - 244px);
  }
}

.add-more__amount {
  @include plain-text-fs14;
  line-height: $add-more-amount-lh;
  color: $grey-text;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

  @include media-tablet {
    @include basic-text-fs16-lh20;
    margin-left: auto;
  }

  @include media-desktop {
    justify-content: flex-start;
    min-width: 290px;
    margin-bottom: 0;
    margin-right: 38px;
    margin-left: auto;
  }
}

.add-more__price {
  display: inline-block;
  margin-left: auto;
  text-transform: uppercase;

  @include media-tablet {
    margin-left: 51px;
  }

  @include media-desktop {
    margin-left: auto;
  }
}

.add-more__button {
  padding-top: 10px;
  padding-bottom: 10px;

  @include media-tablet {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  @include media-desktop {
    margin-left: auto;
    width: 244px;
  }
}
