.bonus {
  @include basic-text-fs16-lh20($accent-font);
  min-height: 290px;
  background: $basic-green;
  background-image: url("../../img/bonus/mobile/gift-photo-mobile@1x.jpg");
  text-align: center;
}

.bonus__link {
  text-decoration: none;
}

.bonus__text {
  @include basic-text-fs16-lh20($accent-font);
  color: $light-text;
}
