.button {
  @include reset-style-button;
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  font-style: normal;
  font-weight: $font-weight-normal;
  font-size: 14px;
  line-height: 20px;
  color: $light-text;

  @include media-tablet {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: $btn-tablet-fs;
  }
}

.button:hover {
  background-color: $btn-hover-color;
}

.button:active {
  color: $partial-opacity-white;
}

.button--show-more {
  background-color: $primary-grey-bg;
  color: $grey-text;
}

.button--buy {
  @include basic-text-fs16-lh20;
  display: block;
  font-family: $main-font;
  color: $light-text;
}
