.button {
  @include reset-style-button;
  font-style: normal;
  font-weight: $font-weight-normal;
  font-size: 16px;
  line-height: 20px;
  color: $light-text;
}

.button--show-more {
  background-color: $primary-grey-bg;
  color: $grey-text;
}

.button--buy {
  @include basic-text-fs16-lh20;
  font-family: $main-font;
  color: $light-text;
}
