.card {
  border-bottom: 1px solid $light-border;
}

.card__title-link {
  @include reset-style-link;
}

.card__title {
  @include basic-text-fs16-lh20;
  font-family: $main-font;
  color: $dark-grey-text;
  text-transform: uppercase;

  @include media-tablet {
    font-size: 20px;
    text-align: center;
  }
}

.card__title--more {
  text-align: center;
}

.card__options-name {
  @include tables-basic-font-fs12;
  color: $grey-text;

  @include media-tablet {
    font-size: 16px;
  }
}

.card__options-amount {
  @include tables-basic-font-fs12;
  color: $grey-text;
  text-align: right;

  @include media-tablet {
    font-size: 16px;
  }
}

.card__more-goods {
  @include tables-basic-font-fs12;
  color: $grey-text;
  text-align: center;
}

.card__price {
  text-transform: uppercase;
}
