.catalog__layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media-tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 60px;
  }

  @include media-desktop {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    column-gap: 80px;
    row-gap: 63px;
  }
}

.catalog__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog__more {
  border-bottom: 1px solid $border-color;
  text-align: center;
}
