.catalog {
  border-top: 1px solid $grey-border;

  @include media-tablet {
    border-top: none;
  }
}

.catalog__main-title {
  margin-top: 27px;
  margin-bottom: 40px;

  @include media-tablet {
    margin-top: 54px;
    margin-bottom: 79px;
  }

  @include media-desktop {
    margin-top: 69px;
  }
}

.catalog__layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media-tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    column-gap: 60px;
    row-gap: 58px;
  }

  @include media-desktop {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    column-gap: 80px;
    row-gap: 60px;
  }
}

.catalog__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 25px;

  @include media-tablet {
    justify-content: flex-end;
    padding-bottom: 35px;
  }
}

.catalog__card:first-child {
  &::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 1px;
    background-color: $light-border;
    top: 0;

    @include media-tablet {
      display: none;
    }
  }
}

.catalog__more {
  text-align: center;
}

.catalog__button {
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;

  @include media-tablet {
    width: 248px;
  }

  @include media-desktop {
    width: 168px;
  }
}
