.categories__item {
  background-color: $primary-grey-bg;
}

.categories__title {
  @include big-text-dark-fs24($lineHeight: 37px);
  text-transform: uppercase;
}

.categories__description {
  @include plain-text-fs14-lh18($accent-font);
  color: $grey-text;
}

.categories__button {
  @include dark-small-titles-fs16($lineHeight: 16px);
  color: $black-text;
  text-transform: uppercase;
  text-decoration: none;
}
