.categories__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media-desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.categories__item {
  margin-bottom: 20px;
  background-color: $primary-grey-bg;

  @include media-desktop {
    width: calc(50% - 40px);
  }
}

.categories__title {
  @include big-text-fs24;
  line-height: 37px;
  text-transform: uppercase;
}

.categories__description {
  @include plain-text-fs14;
  color: $grey-text;

  @include media-tablet {
    @include basic-text-fs16-lh20;
    line-height: 24px;
  }
}

.categories__button {
  @include small-titles-fs16;
  @include reset-style-link;
}
