.footer {
  position: relative;
  background-color: $primary-grey-bg;
}

.footer__contacts {
  background-color: $primary-grey-bg;
}

.footer__contacts .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 25px;

  @include media-tablet {
    padding: 66px 71px 56px;
    background-color: $primary-grey-bg;
  }

  @include media-desktop {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 570px;
    padding: 62px 71px 60px;
    background-color: $primary-bg-color;
  }
}

.footer__contacts--index .wrapper {
  background-color: $primary-bg-color;
}

.footer__contacts-title {
  @include basic-text-fs16-lh20;
  font-family: $main-font;
  text-transform: uppercase;

  @include media-tablet {
    font-size: $footer-contacts-tablet-fs;
    line-height: $footer-contacts-tablet-lh;
    width: 30%;
  }

  @include media-desktop {
    width: 40%;
  }
}

.footer__contacts-city {
  @include media-tablet {
    display: block;
    margin-top: 20px;
  }
}

.footer__contacts-address {
  @include plain-text-fs14;
  margin-left: 27px;
  line-height: $footer-adress-tablet-lh;
  color: $grey-text;

  @include media-tablet {
    @include basic-text-fs16-lh20;
    text-align: right;
    width: 30%;
  }

  @include media-desktop {
    width: 40%;
    text-align: left;
  }
}

.footer__map {
  height: 360px;
  width: 100%;
  background-image: url("../../img/footer/map/mobile/bg-map-mobile@1x.png");
  background-position: center center;
  background-size: cover;

  @include media-tablet {
    height: 400px;
  }
}

.footer__block--logo {
  margin-bottom: 30px;

  @include media-tablet {
    margin: 0;
  }
}

.footer__logo-img {
  @include media-tablet {
    max-width: unset;
  }
}

.footer__logo-img:hover {
  opacity: 0.8;
}

.footer__logo-img:active {
  opacity: 0.6;
}

.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 42px;
  padding-bottom: 42px;

  @include media-tablet {
    padding-top: 51px;
    flex-direction: row;
  }
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 18px;
  border-top: 1px solid $grey-border;
  border-bottom: 1px solid $grey-border;

  @include media-tablet {
    margin-left: auto;
    border: none;
    padding: 0;
  }
}

.social__item:first-of-type {
  margin-right: 36px;
}

.social__item:last-of-type {
  margin-left: 33px;
}

.footer__developer-link {
  @include reset-style-link;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  text-transform: none;
  color: $grey-text;

  @include media-tablet {
    width: 163px;
    margin: 0;
  }
}

.footer__developer-link:hover {
  color: $green-color-links;
}

.footer__developer-link:active {
  color: $green-color-links;
  opacity: 0.3;
}

.footer__developer-text {
  @include basic-text-fs16-lh20;
  line-height: $footer-dev-link-lh;
  color: $grey-text;
}

.footer__block--copyright {
  width: 100%;

  @include media-tablet {
    width: unset;
    margin-left: auto;
  }
}
