.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 11px;

  @include media-tablet {
    justify-content: space-between;
    padding-top: 24px;
  }

  @include media-desktop {
    padding-top: 54px;
  }
}

.header__nav-button {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include media-tablet {
    display: none;
  }
}

.header__nav-burger {
  display: block;
  height: 2px;
  width: 24px;
  background-color: $fill-grey-icons;
}

.header__logo-pic-link {
  display: block;
  margin-right: auto;

  @include media-tablet {
    padding: 0;
  }
}

.header__logo {
  @include media-tablet {
    width: 174px;
  }
}
