.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 11px;

  @include media-tablet {
    padding-top: 30px;
  }

  @include media-desktop {
    padding-top: 54px;
  }
}

.header__nav-button {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include media-tablet {
    display: none;
  }
}

.header__nav-burger {
  position: absolute;
  right: 20px;
  display: block;
  height: 2px;
  width: 24px;
  background-color: $nav-burger-color;

  &::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 24px;
    top: -8px;
    left: 0;
    background-color: $nav-burger-color;
  }

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 24px;
    bottom: -8px;
    left: 0;
    background-color: $nav-burger-color;
  }
}

.header__logo-pic-link {
  display: block;
  margin-right: auto;

  @include media-tablet {
    padding: 0;
  }
}

.header__logo {
  @include media-tablet {
    width: 174px;
  }
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.6;
}

.no--js {
  transform: scaleY(1);
}

.header__nav--opened {
  transform: scaleY(1);
  animation: showAnimation 0.9s ease-in-out;
  transition: height 1.3s ease-in-out;
}

.header__nav-burger--closed::before {
  left: -10px;
  transform: rotate(45deg) translate(11px, 2px);
}

.header__nav-burger--closed::after {
  left: -10px;
  transform: rotate(-45deg) translate(9px, 0);
}

.header__nav-burger--closed {
  background-color: transparent;
}

.header__nav--closed {
  transform: scaleY(0);
  height: 0;

  @include media-tablet {
    transform: none;
    height: 100%;
    transition: none;
    animation: none;
  }
}

@keyframes showAnimation {
  0% {
    transform: scaleY(0.1);
  }

  40% {
    transform: scaleY(1.04);
  }

  60% {
    transform: scaleY(0.98);
  }

  80% {
    transform: scaleY(1.04);
  }

  100% {
    transform: scaleY(0.98);
  }

  80% {
    transform: scaleY(1.02);
  }

  100% {
    transform: scaleY(1);
  }
}
