.header {
  position: relative;

  .header__nav-button {
    display: block;

    @include media-tablet {
      display: none;
    }
  }

  .header__nav {
    transform: scaleY(0);
    height: 0;

    @include media-tablet {
      transform: none;
      height: 100%;
      transition: none;
      animation: none;
    }
  }
}

.header.header--no-js {
  .header__nav-button {
    display: none;
  }

  .header__wrapper {
    padding-bottom: 0;
  }

  .header__nav {
    position: static;
    height: 100%;
    transform: scaleY(1);
    background-color: $currentColor;
  }

  .header__logo-pic-link {
    padding-bottom: 15px;

    @include media-tablet {
      padding: 0;
    }
  }
}

.header.header--opened {
  .header__nav-button {
    .header__nav-burger::before {
      left: -5px;
      transform: rotate(45deg) translate(9px, 2px);
    }

    .header__nav-burger::after {
      left: -9px;
      transform: rotate(-45deg) translate(12px, 0);
    }

    .header__nav-burger {
      background-color: transparent;
    }
  }

  .header__nav {
    transform: scaleY(1);
    animation: showAnimation 0.9s ease-in-out;
    transition: height 1.3s ease-in-out;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 11px;
  padding-bottom: 16px;

  @include media-tablet {
    padding-top: 18px;
    padding-bottom: 0;
  }

  @include media-desktop {
    padding-top: 50px;
  }
}

.header__nav-button {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include media-tablet {
    display: none;
  }
}

.header__nav-burger {
  position: absolute;
  display: block;
  right: 0;
  height: 2px;
  width: 24px;
  background-color: $nav-burger-color;

  &::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 24px;
    top: -8px;
    left: 0;
    background-color: $nav-burger-color;
  }

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 24px;
    bottom: -8px;
    left: 0;
    background-color: $nav-burger-color;
  }
}

.header__logo-pic-link {
  display: block;
  margin-right: auto;

  @include media-tablet {
    padding: 0;
  }
}

.header__logo-pic-link[href]:hover {
  opacity: 0.8;
}

.header__logo-pic-link[href]:active {
  opacity: 0.6;
}

.header__logo {
  @include media-tablet {
    width: 174px;
    height: 51px;
  }

  @include media-desktop {
    width: 202px;
    height: 59px;
  }
}

@keyframes showAnimation {
  0% {
    transform: scaleY(0.1);
  }

  40% {
    transform: scaleY(1.04);
  }

  60% {
    transform: scaleY(0.98);
  }

  80% {
    transform: scaleY(1.04);
  }

  100% {
    transform: scaleY(0.98);
  }

  80% {
    transform: scaleY(1.02);
  }

  100% {
    transform: scaleY(1);
  }
}
