.models {
  @include media-tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 59px;
  }

  @include media-desktop {
    margin-top: -250px;
    background-image: none;
    justify-content: flex-start;
  }
}

.models__before {
  @include media-tablet {
    position: absolute;
    padding-left: 30px;
    overflow: hidden;
    background: linear-gradient(
      to bottom,
      $primary-bg-color 162px,
      $primary-grey-bg 137px
    );
    width: 363px;
  }

  @include media-desktop {
    padding-left: 15px;
    background: linear-gradient(
      to bottom,
      $primary-bg-color 180px,
      $primary-grey-bg 184px
    );
  }
}

.models__before .models__img {
  @include media-tablet {
    max-width: unset;
    flex-shrink: unset;
  }
}

.models__images {
  margin-top: 32px;
  margin-left: -18px;

  @include media-tablet {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 24px;
  }

  @include media-desktop {
    margin-top: 0;
  }
}

.models__after {
  display: none;

  @include media-tablet {
    display: block;
    margin-left: auto;
  }

  @include media-desktop {
    width: 100%;
    margin-left: 0;
    padding-right: 0;
    padding-left: 15px;
  }
}

.models__img {
  height: 238px;
  width: auto;
  max-width: unset;

  @include media-tablet {
    height: 505px;
  }

  @include media-desktop {
    height: 510px;
  }
}
