.models {
  @include media-tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include media-desktop {
    background-image: none;
  }
}

.models__img {
  width: auto;

  @include media-desktop {
    height: 536px;
  }
}
