.promo {
  position: relative;
  min-height: 460px;
  margin-bottom: 15px;
  color: $white;

  &::before {
    position: absolute;
    content: "";
    min-height: 302px;
    width: 100%;
    background: $basic-green;
    background-image: url("../img/index-background-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    top: -27px;
    left: 0;
    z-index: -1;
  }
}

.promo__info {
  margin-top: 25px;
  text-align: center;
}

.promo__main-title {
  margin-bottom: 25px;
  line-height: 36px;
}

.promo__desc {
  margin-bottom: 27px;
  color: $white;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__pic {
  display: block;
  margin-bottom: 5px;
}

.promo__link {
  text-decoration: none;
}
