.slider {
  position: relative;
  width: 100%;
}

.slider__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__button {
  @include basic-text-fs16-lh20;
  @include reset-style-button;
  font-family: $main-font;
  background-color: transparent;
}

.slider__bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 84px;
  height: 14px;
  background: $primary-bg-color;
  border: 1px solid $border-color;
  border-radius: 6px;
}

.slider__toggle {
  width: 35px;
  height: 6px;
  background: $basic-green;
  border-radius: 6px;
  border: none;
}
