/* Colors */
$basic-bkgrnd: #e5e5e5;
$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$basic-light-grey: #f2f2f2;
$basic-light-grey-2: #ebebeb;
$basic-dark-grey: #eaeaea;
$grey: #c4c4c4;
$average-grey: #bababa;
$deep-grey: #dcdcdc;
$special-grey: #cdcdcd;
$special-light-grey: #d3d3d3;
$special-dark-grey: #666666;
$special-dark-grey-2: #444444;
$special-dark-grey-3: #222222;
$grey-line: #d9d9d9;
$grey-line-2: #e6e6e6;
$status_error: #ff8282;
$white: #ffffff;
$black: #000000;
$light-black: #111111;
$partial-opacity-white: rgba(255, 255, 255, 0.3);

/* Text colors */
$black-text: $black;
$light-text: $white;
$grey-text: $special-dark-grey-2;
$dark-grey-text: $special-dark-grey-3;
$currentColor: inherit;

/* BG colors */
$primary-bg-color: $white;
$nav-link-decor-tablet: $basic-green;
$green-bg-color: $basic-green;
$primary-grey-bg: $basic-light-grey;
$secondary-grey-bg: $basic-dark-grey;
$button-color: $basic-green;
$btn-hover-color: $basic-green-2;
$primary-green-bg: $basic-green;
$green-color-links: $basic-green;

/* Elements' colors */
$input-hover-color: $basic-green;
$dark-border: $special-dark-grey-2;
$error-color-element: $status_error;
$label-hover-color: $average-grey;
$black-border: $black;
$border-color: $special-grey;
$light-border: $basic-light-grey-2;
$show-more-btn-hover: $basic-light-grey-2;
$grey-border: $grey-line-2;
$fill-grey-icons: $special-dark-grey;
$nav-burger-color: $light-black;
$nav-desktop-index-decor: $white;
$nav-link-decor: $grey-line-2;
$categories-decor-bg: $basic-green-2;
$promo-bg: $basic-green-2;
$categories-paragrah-decor-border: $grey-line;
$slider-bar-bg: $deep-grey;
$slider-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
$promo-bg: rgba(104, 183, 56, 0.85);

/* Font weight */
$font-weight-normal: 400;
$font-weight-bold: 500;

/*Text sizes & line height */
$basic-text-tablet-lh: 24px;
$plain-test-lh: 14px;
$plain-text-tablet-lh: 20px;

$btn-tablet-fs: 20px;

$footer-contacts-tablet-fs: 20px;
$footer-contacts-tablet-lh: 25px;
$footer-adress-tablet-lh: 20px;
$footer-dev-link-lh: 19px;

$nav-desltop-lh: 30px;
$nav-desktop-fs: 20px;
$categoris-tablet-lh: 37px;
$example-table-lh: 12px;
$example-words-table-tablet-lh: 14px;
$example-table-fs: 14px;
$example-table-tablet-fs: 30px;
$example-table-tablet-lh: 37px;
$example-result-lh: 20px;
$example-result-fs: 20px;
$card-table-tablet-fs: 16px;
$card-btn-tablet-fs: 16px;
$moregoods-tablet-fs: 16px;
$moregoods-tablet-lh: 18px;
$catalog-subtitle-tablet-fs: 20px;
$catalog-subtitle-tablet-lh: 24px;
$add-more-amount-lh: 14px;
$order-input-lh: 18px;
$order-btn-lh: 18px;
$order-footnote-lh: 16px;
$order-footnote-fs: 16px;
$order-label-lh: 18px;

/*Fonts*/
$main-font: "Oswald Regular", "Arial", sans-serif;
$main-bold-font: "Oswald Medium", "Arial", sans-serif;
$accent-font: "Arial", sans-serif;

/* Sizes and breakpoints*/
$phones: 320px;
$tablets: 768px;
$desktops: 1440px;

/* Retina */
$resolution2x: 2dppx;
